body,html {
    height: 100%;
  }
  
  body {
    padding-top: 50px;
  }
  
  .wide {
    width:100%;
    height: 750px;
    background-image:url('https://images.unsplash.com/photo-1503252947848-7338d3f92f31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80');
    background-size:cover;
  }
  
  .wide img {
    width:100%;
  }
  
  .logo {
    color:#fff;
    font-weight:800;
    font-size:35pt;
    padding:25px;
    text-align:center;
  }
  
  .line {
    padding-top:20px;
    white-space:no-wrap;
    overflow:hidden;
    text-align:center;
  }


  .container {
    position: relative;
    margin: 20px;
    width: auto;
  }


/* The navbar */
    .topnav {
    overflow: hidden;
    background-color: #333;
    
    
  }
  
  /* Navbar links */
  .topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    
    }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .header-right {
    float: right;
    display:flex
  }


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: right;
    width: 50%;
    padding: 5px;
  }

  .column1 {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
 
  .container {
    position: flex;
    width: 100%;
  }

  .image1 {
    opacity: 1;
    display:block;
    width:100%;
    height: 550px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  
  .image {
    opacity: 1;
    display:block;
    width:50%;
    height: 50%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: black;
    color: white;
    font-size: 35px;
    padding: 16px 32px;
  }

  img {
    border: 15px solid #555;
  }
